@require('constants.styl')
@require('material.styl')

*
    box-sizing: border-box

body
    color: getTextColor()
    font-family: $fontFamily
    line-height: 1.0
    margin: 0px
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased

h1, h2, h3, h4, h5, h6
    font-weight: 400
    margin: 0px

a
    text-decoration: none

button, input
    font-family: $fontFamily
    outline: 0px none

.icon
    align-items: center
    display: inline-flex
    height: 48px
    justify-content: center
    width: 48px

.action
    background: none
    border-width: 0px
    height: 48px
    margin: 0px 8px
    padding: 6px 0px
    -webkit-appearance: none

.action-text
    applyFontSize('body2')
    align-items: center
    display: flex
    min-width: 64px
    padding: 0px 8px
    justify-content: center
    text-transform: uppercase

.action--flat
    @extend .action

.app
    background-color: $color-canvas--alt

.appBar
    align-items: center
    background-color: $color-canvas
    box-shadow: inset 0px -1px $color-canvas--border
    display: flex
    height: 64px
    padding: 8px 20px 8px 0px

.appBar-title
    font-size: 24px
    margin-left: 24px
    margin-right: auto

.appBar-link
    margin: 0px 12px

.page
    background-color: $color-canvas
    margin: 0px auto
    padding: 0px 24px
    width: 1080px

.page-title
    applyFontSize('headline')
    padding: 1.5em 1em 1em

.subheader
    applyFontSize('body2')
    align-items: center
    color: getTextColor('secondary')
    display: flex
    height: 48px
    padding: 16px

.gridList
    display: flex
    flex-wrap: wrap
    justify-content: center

.gridList-cell
    border-color: $color-canvas
    border-style: solid
    border-width: 0px 2px 0px 0px
    display: flex
    flex: none
    height: 160px
    justify-content: flex-end
    margin-bottom: 4px
    width: 50%

    &:nth-of-type(2n)
        border-width: 0px 0px 0px 2px
        justify-content: flex-start

    &:nth-last-of-type(1)
        border-width: 0px
        justify-content: center
        margin-bottom: 0px

.gridList-tile
    align-items: center
    background-color: $color-canvas--alt
    display: flex
    flex: 1 1 0px
    justify-content: center
    max-width: 320px
    min-width: 158px

.build-table
    padding-bottom: 96px

.build-slot-name
    @extend .subheader
    margin-top: 24px

.build-stats
    background-color: $color-canvas
    bottom: 0px
    box-shadow: inset 0px 1px $color-canvas--border
    display: flex
    left: 50vw
    margin-left: -540px
    position: fixed
    width: 1080px

.build-stat
    flex: 0 1 100%
    min-width: 0px
    padding: 12px 0px
    text-align: center

.build-stat-label
    applyFontSize('body2')
    color: getTextColor('secondary')
    line-height: 24px
    text-transform: uppercase

.build-stat-value
    applyFontSize('headline')
    line-height: 24px

.build-items
    display: block
    margin: 0px
    padding: 0px

.build-item
    applyFontSize('body1')
    align-items: center
    background-color: $color-table-row
    box-shadow: inset 0px -1px $color-divider
    display: flex
    height: 48px
    list-style: none outside none
    margin: 0px
    padding: 0px
    
    &.is-selected
        background-color: $color-table-row--selected
    
    &:hover
        background-color: $color-table-row--hover

.build-item-image
    background-color: getTextColor('secondary')
    border-radius: 50%
    height: 40px
    margin-right: 16px
    width: 40px

.build-item-control
    align-items: center
    display: flex
    flex: 0 0 66px
    justify-content: center
    min-width: 66px

.build-item-name
    align-items: center
    display: flex
    flex: 1 0 300px
    margin-right: 24px
    min-width: 300px

.build-item-ilvl,
.build-item-stat
    align-items: center
    display: flex
    flex: 1 0 40px
    justify-content: flex-end
    margin-right: 40px
    min-width: 40px
    text-transform: uppercase

    &:nth-last-of-type(1)
        margin-right: 24px

.build-table-header
    applyFontSize('caption')
    color: getTextColor('secondary')
    font-weight: 500
