@require('constants.styl')

/* colors */

$color-canvas = getColor('white')
$color-canvas--alt = getColor('grey', '100')
$color-canvas--border = getColor('grey', '200')
$color-divider = rgba(getColor('black'), 0.12)
$color-text = getColor('black')

$color-table-row = $color-canvas
$color-table-row--hover = getColor('grey', '200')
$color-table-row--selected = getColor('grey', '100')

/* functions */

getTextColor(level = 'primary', fore = $color-text, back = $color-canvas)
    return blend(rgba(fore, $textOpacity[level]), back)
